<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.relaxindia" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.intent.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelaxIndia"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".view.activity.ScheduleBookingActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.StartScheduleBookingActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.TrackActivity"
            android:exported="true" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.WalletActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MyProfileActivity"
            android:exported="true" />
        <activity android:name=".view.activity.ThankYouActivity" />
        <activity android:name=".view.activity.DriverFeedbackActivity" />
        <activity
            android:name=".view.activity.BookingSuccessfulActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.HomeActivity" />
        <activity android:name=".view.activity.OtpActivity" />
        <activity android:name=".view.activity.MyBookingActivity" />
        <activity android:name=".view.activity.BookingInfoActivity" />
        <activity android:name=".view.activity.BookNowActivity" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>